<% layout('layouts/boilerplate') -%> <% include('../partials/flash') %>

<div class="bg-[#e9ecef] mt-16">
  <div class="w-full mx-auto p-6">
    <div class="flex flex-col justify-center items-center space-y-2">
      <h2 class="text-2xl font-[500] text-gray-700 text-center pt-2">
        Product Information
      </h2>
      <p class="text-md font[400] text-gray-700 mb-2">
        Information to help define a product update
      </p>
    </div>
    <div class="mt-2 p-6 bg-white shadow-md">
      <form
        action="/api/products/<%= product._id %>?_method=PATCH"
        method="POST"
      >
        <div class="mb-4">
          <label for="title" class="block text-md font-[400] text-gray-700 mb-1"
            >Product Name</label
          >
          <input
            type="text"
            id="name"
            name="name"
            value="<%= product.name %>"
            class="w-full p-2 text-gray-800 border border-gray-200 hover:border-gray-500 outline-none focus:border-blue-600 rounded-md"
            placeholder="Enter product name here"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="description"
            class="block text-md font-[400] text-gray-700 mb-1"
            >Product Description</label
          >
          <textarea
            type="text"
            id="description"
            name="description"
            value="<%= product.description %>"
            class="w-full p-2 text-gray-800 border border-gray-200 hover:border-gray-500 outline-none focus:border-blue-600 rounded-md"
            placeholder="Enter product description here"
            required
          >
<%= product.description %>
          </textarea>
        </div>
        <div class="w-full sm:flex sm:flex-row justify-between">
          <div class="sm:flex-1 sm:mr-2 mb-4">
            <label
              for="price"
              class="block text-md font-[400] text-gray-700 mb-1"
              >Price</label
            >
            <input
              type="text"
              id="price"
              name="price"
              value="<%= product.price %>"
              class="w-full p-2 text-gray-800 border border-gray-200 hover:border-gray-500 outline-none focus:border-blue-600 rounded-md"
              placeholder="Enter amount"
              required
            />
          </div>
          <div class="sm:flex-1 sm:ml-2 mb-4">
            <label
              for="maxRetailPrice"
              class="block text-md font-[400] text-gray-700 mb-1"
              >Max Retail Price (MRP)</label
            >
            <input
              type="text"
              id="maxRetailPrice"
              name="maxRetailPrice"
              value="<%= product.maxRetailPrice %>"
              class="w-full p-2 text-gray-800 border border-gray-200 hover:border-gray-500 outline-none focus:border-blue-600 rounded-md"
              placeholder="Enter amount"
              required
            />
          </div>
        </div>
        <div class="mb-4">
          <label
            for="images"
            class="block text-md font-[400] text-gray-700 mb-1"
            >Product Image</label
          >
          <input
            type="text"
            id="images"
            name="images"
            value="<%= product.images %>"
            class="w-full p-2 text-gray-800 border border-gray-200 hover:border-gray-500 outline-none focus:border-blue-600 rounded-md"
            placeholder="Enter product images url"
            required
          />
        </div>
        <div class="mb-4">
          <label
            For="category"
            class="block text-md font-[400] text-gray-700 mb-1"
          >
            Select a Category:
          </label>

          <select
            id="category"
            name="category"
            class="w-full p-2 text-gray-800 border border-gray-200 hover:border-gray-500 outline-none focus:border-blue-600 rounded-md"
          >
            <option value="">Select Category</option>

            <% for(category of categories) { %> <option value="<%= category._id
            %>" <%= product.category._id.equals(category._id) ? 'selected' : ''
            %>><%= category.title %> <% } %>
          </select>
        </div>
        <div class="flex justify-center">
          <button
            type="submit"
            class="px-6 py-2 text-white font-[500] bg-blue-600 hover:bg-blue-700 rounded-md border focus:border-blue-800"
          >
            Update Product
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
