<% layout("layouts/boilerplate") %> <%- include('../partials/flash') %>

<div class="md:mx-auto p-10 mt-16 bg-white">
  <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">
    <% for (let product of products) { %>

    <div
      class="flex flex-col items-center px-4 py-2 bg-white rounded-lg shadow-md transition-all duration-300 hover:transform hover:-translate-y-2 relative"
    >
      <div class="btn absolute top-2 right-2">
        <% if (currentUser && currentUser.wishlist.includes(product._id)) { %>

        <i
          class="fas fa-heart text-2xl like-button cursor-pointer"
          product-id="<%= product._id %>"
        ></i>

        <% } else { %>
        <i
          class="far fa-heart text-2xl like-button cursor-pointer text-[#90a955]"
          product-id="<%= product._id %>"
        ></i>
        <% } %>
      </div>
      <img
        src="<%= product.images[0] %>"
        alt="<%= product.name %>"
        class="card w-fixed h-fixed object-cover"
        style="max-width: 280px; max-height: 220px"
        data-product-id="<%= product._id %>"
      />
      <div class="flex border border-gray-500 rounded-md w-36 px-1 mt-1">
        <p class="mx-1 border-r text-gray-500 text-md font-semibold pr-2">
          <%= product.avgRating %>
          <i class="fa-solid fa-star text-[#90a955] text-sm"> </i>
        </p>
        <p class="ml-1 text-gray-500 text-md font-semibold">
          <%= product.reviews.length %> Ratings
        </p>
      </div>
      <h2 class="text-lg font-bold text-gray-700 mt-2"><%= product.name %></h2>

      <p class="text-gray-500 text-base mt-2 overflow-hidden line-clamp-2">
        <%= product.description %>
      </p>
      <div class="mt-auto mt-2">
        <span class="text-[#212529] text-xl font-semibold"
          >₹<%= product.price %> <% if (product.maxRetailPrice &&
          product.maxRetailPrice > product.price) { %><span
            class="text-[#6c757d] font-semibold text-sm"
            >M.R.P.
          </span>
          <span class="text-[#6c757d] font-semibold text-sm line-through"
            >₹<%= product.maxRetailPrice %></span
          >
          <span class="text-[#e5383b] text-lg font-semibold"
            ><%= Math.round(((product.maxRetailPrice - product.price) /
            product.maxRetailPrice) * 100) %>% off
          </span>
          <% } %>
        </span>
      </div>
    </div>
    <% } %>
  </div>
</div>
<footer><%- include('../partials/footer') %></footer>
